<div class="flex justify-center items-start w-full h-screen bg-gray-50">
    <div class="w-full h-[100vh] block justify-center items-start mx-8">
        <div class="flex justify-between items-center w-full h-20 mt-2">
            <div class="flex justify-end items-center">
                <!-- <img class="h-10 rounded-full" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZgZUBz8fnAaj1xHNFQNKOqLoQjgLL6u5HSw&s" alt=""> -->
                <svg routerLink="/app" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left text-sky-500 cursor-pointer outline-none" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
                </svg>
                <strong class="text-sky-500 font-bold pl-2">Asistencia diaria</strong>
            </div>
            <img src="./logoacademiatno.png" alt="logo" class="h-12">
        </div>
        <div class="bg-white w-full h-full rounded-2xl mt-8">
            <div class="w-full h-24 flex justify-between items-center px-8">
                <div class="w-full flex justify-center items-center text-center">
                    <p class="text-gray-500 font-bold">{{ obtenerFechaActual() }}</p>
                </div>
            </div>
            <div class="px-8 pb-8" [formGroup]="formMarc">
                <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Seleccione una clase</label>
                <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" formControlName="clase">
                    <option value="" selected>Seleccione una clase</option>
                    @for (item of dataClases; track $index) {
                        <option [value]="item.grado_id">{{ item.grados.titulo }}</option>
                    }
                </select>
            </div>
            @if (validShowMarc()) {
                <div class="flex flex-col justify-center items-start gap-5 px-8">
                    <div class="w-full h-14 p-1 rounded-2xl flex justify-end items-center" [ngClass]="{ 'bg-[#11b427]' : existReg('entrada'), 'bg-sky-300' : !existReg('entrada') }">
                        <div (click)="!existReg('entrada') ? registrarMarcacion('entrada') : ''" class="w-1/2 h-full rounded-xl cursor-pointer bg-white flex justify-center items-center">
                            <div class="text-center">Entrada</div>
                        </div>
                        @if (existReg('entrada')) {
                            <div class="w-1/2 h-full flex flex-col justify-center items-center text-center text-white">
                                <small class="bg-transparent">{{ objDateEntrada.fecha }}</small>
                                <span class="font-bold text-lg">{{ objDateEntrada.hora }}</span>
                            </div>
                        }
                    </div>
                    <div class="w-full h-14 p-1 rounded-2xl flex justify-end items-center" [ngClass]="{ 'bg-[#11b427]' : existReg('salida'), 'bg-sky-300' : !existReg('salida') }">
                        <div (click)="!existReg('salida') ? registrarMarcacion('salida') : ''" class="w-1/2 h-full rounded-xl cursor-pointer bg-white flex justify-center items-center">
                            <div class="text-center">Salida</div>
                        </div>
                        @if (existReg('salida')) {
                            <div class="w-1/2 h-full flex flex-col justify-center items-center text-center text-white">
                                <small class="bg-transparent">{{ objDateSalida.fecha }}</small>
                                <span class="font-bold text-lg">{{ objDateSalida.hora }}</span>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>